# Ignore archive dir
archive/

# Ignore integrations dir
integrations/

# Ignore integrations dir
node_modules/

# Ignore integrations dir
dist/

# Ingore node serv dir
server/

# Ignore screencasts dir
screencasts/

src/formiquePretty.js
src/worked_formique.js

